body{
    background-color: dimgray;
}
.clearf{
    clear: both;
}
#content{
    background: url("../img/bj.jpg");
    width: 1200px;
    height: 1080px;
    margin: 0px auto;
}
#head_top{
    position:relative;
    top: 575px;
    margin-bottom: 0px;
}
#left01{
    margin-left: 70px;
}
#left02{
    margin-left: 10px;
}
#center{
    margin-left: 15px;
    margin-right: 15px;
}
#right01{
    margin-left: 10px;
}
#right02{

}
#footer{
    background-color: dimgray;
    color: white;
    text-align: center;
}
img{
    border-radius: 20px;
}