*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    /*background-color: dimgray;*/

    text-align:center;
    position: relative;
}
.clearf{
    clear: both;
}
#index-body{
    /*background: url("../imgs/bg.jpg");*/
    /*background-repeat: no-repeat;*/
    height: 768px;
    width: 1200px;
    margin: 0 auto;

}
#index-bodycontent{

}

#img-1{

}