*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: dimgray;


}
.clearf{
    clear: both;
}
#index-content{
    background: url("../img/bj.jpg");


    height: 1080px;
    margin: 0px auto;

    position: absolute;
    width: 1200px;
    left: 50%;
    margin-left: -600px;  /*此处的负值是宽度的一半*/
}
#head_top{
    position:relative;
    top: 575px;
    margin-bottom: 0px;
}
#left01{
    margin-left: 70px;
}
#left02{
    margin-left: 10px;
}
#center{
    margin-left: 15px;
    margin-right: 15px;
}
#right01{
    margin-left: 10px;
}
#right02{

}
#footer p{
    position: absolute;
    top: 1080px;
    background-color: dimgray;
    color: white;
    width: 1200px;
    left: 40%;


}
img{
    border-radius: 20px;
}